---
layout: default
---

{% include outdated.html post=page %}

<article>
  {% if page.hidden %}
    <aside class="embargo">
      {% if page.hidden != true %}
        <h1>文章将在 {{ page.hidden | date: "%Y-%m-%d %H:%M" }}（UTC）公开。</h1>
        <p>请不要随意分享该链接，保持对保密内容的尊重。以下内容在公开发布后会有一些小变动。</p>
      {% else %}
        <h1>Note: This post is hidden!</h1>
        <p>Please respect any embargoes by not sharing this URL. The content below may be unfinished, inaccurate, or subject to change.</p>
      {% endif %}
      <hr />
    </aside>
  {% endif %}
  <header>
    <h1>{% include title.html title=page.title %}</h1>
    {% if page.description %}
      <h2>{% include title.html title=page.description %}</h2>
    {% endif %}

    {% include byline.html author=page.author date=page.date content=page.content link=true %}
    {% include tags.html %}
  </header>

  <section>
    {{ content }}
  </section>

  {% include thanks.html %}
</article>

{% include license.html %}
{% include social.html %}

<h2 class="up-next">更多内容</h2>

{% if page.next %}
  {% unless page.next.hidden %}
    {% include featured.html post=page.next %}
  {% endunless %}
{% endif %}

{% if page.previous %}
  {% unless page.previous.hidden %}
    {% include featured.html post=page.previous %}
  {% endunless %}
{% endif %}

